html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}


.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.no-margin-top{
    margin-top: 0 !important;
}

.margin-bottom{
    margin-bottom: 25px !important;
}

/* ########## TASK RULES ##########*/

.task {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    min-height: 215px;
    background: linear-gradient(to bottom, rgba(239, 241, 255, 1), white);
    border-radius: 10px;
    position: relative;
}

.task > .footer-comment{
    position: absolute;
    bottom: 0px;
    right: 5%;
}

.task > .footer-comment .glyphicon{
    font-weight: bold !important;
}

/* ########## COMMENT FORM RULES ##########*/

.comment-form{
    margin-bottom: 30px;
}

.comment-form-parent-information{
    display: none;
    margin-bottom: 20px;
}

.comment-form-parent-information > p {
    display: inline-block;
    background-color: #D4D9DE;
    border-radius: 7px;
    padding: 5px;
    font-weight: 600;
}

.comment-form-delete-parent{
    display: inline-block;
    font-weight: bold;
    color: #DA5E4E;
    cursor: pointer;
}


/* ########## COMMENT RULES ##########*/

.comment-block{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-width: 2px;
    border-color: black;
    background-color: #e9e9ec;
    border-radius: 10px;
}

.comment-block .media-right
{
    width: 100%;
    overflow:hidden;
    margin-left: 10px;
}

.comment-amount{
    margin-bottom: 30px;
}

.comment-avatar{
    display: block;
    height: 40px;
    width: 40px;
}

.comment-fio{
    float: left;
    font-weight: 600;
}

.comment-reply{
    margin-right: 20px;
}

.comment-date{
    float: left;
    color: #939393;
    margin-right: 15px;
}

.vote-down{
    display: inline-block;
    cursor: pointer;
}

.text-bold{
    font-weight: bold;
}

.vote-up{
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

.footer-comment-left{
    display: inline-block;
    float: left;
}

.comment-number{
    margin-left: 70px;
}

.footer-comment-right{
    display: inline-block;
    float: left;
}

.comment-content{
    word-wrap:break-word;
}

.comment-title{
    display: inline-block;
    width: 100%;
}

.comment-number{
    float: right;
    color: #24A10C;
}

.comment-parent{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #9CB09C;
}

.comment-parent .comment-parent-username{
    margin-bottom: 10px;
}

.comment-parent .comment-parent-content{
    color: darkgreen;
}

.comment-content{
    word-break: break-all;
}



@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

@media(max-width:386px) {
    .footer-comment-right{
        display: inline-block;
        float: left;
    }

}