html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}


.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.no-margin-top{
    margin-top: 0 !important;
}

.margin-bottom{
    margin-bottom: 25px !important;
}


/* ########## TASK RULES ##########*/


.task {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    min-height: 215px;
    background: linear-gradient(to bottom, rgba(239, 241, 255, 1), white);
    border-radius: 10px;
    position: relative;
}

.task > .footer-comment{
    position: absolute;
    bottom: 0px;
    right: 5%;
}

.task > .footer-comment .glyphicon{
    font-weight: bold !important;
}

.task-images-block div{
    margin-bottom: 25px;
    display: inline-block;
}

.task-images-block img{
    height: 50px;
    width: 50px;
}

.task-files-block > div {
    margin: 5px;
}

/* ########## COMMENT FORM RULES ##########*/


.comment-form{
    margin-bottom: 30px;
}

.comment-form-parent-information{
    display: none;
    margin-top: 10px;
}

.comment-form-parent-information > p {
    display: inline-block;
    background-color: #D4D9DE;
    border-radius: 7px;
    padding: 5px;
    font-weight: 600;
}

.comment-form-delete-parent{
    display: inline-block;
    font-weight: bold;
    color: #DA5E4E;
    cursor: pointer;
}


/* ########## COMMENT RULES ##########*/

.comments{
    margin-bottom: 150px;
}

.comment-block{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #e9e9ec;
    border-radius: 10px;
}

.own-comment{
    border: 1px solid red;
}

.comment-block .media-right
{
    width: 100%;
    overflow:hidden;
    margin-left: 10px;
}

.comment-amount{
    margin-top: 50px;
    margin-bottom: 30px;
}

.comment-avatar{
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.comment-fio{
    float: left;
    font-weight: 600;
}

.comment-reply{
    margin-right: 20px;
}

.comment-date{
    float: left;
    color: #939393;
    margin-right: 15px;
}

.vote-down{
    display: inline-block;
    cursor: pointer;
}

.text-bold{
    font-weight: bold;
}

.vote-up{
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

.footer-comment-left{
    display: inline-block;
    float: left;
}

.comment-number{
    margin-left: 70px;
}

.footer-comment-right{
    display: inline-block;
    float: left;
}

.comment-content{
    word-wrap:break-word;
}

.comment-title{
    display: inline-block;
    width: 100%;
}

.comment-number{
    float: right;
    color: #24A10C;
}

.comment-parent{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #9CB09C;
}

.comment-parent .comment-parent-username{
    margin-bottom: 10px;
}

.comment-parent .comment-parent-content{
    color: darkgreen;
}

.comment-content{
    word-break: break-all;
}


/* ########## DIALOGS RULES ##########*/


.dialogs-block {
    width: 100%;
    margin-top: 40px;
}

.dialog-row {
    border-radius: 10px;
    cursor: pointer;
}

.dialog-row:hover {
    background-color: rgba(0, 156, 255, 0.5);
    transition: all 0.2s linear;
}

.delete-button {
    cursor: pointer;
}

.delete-button:hover {
    transition: all 0.15s linear;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.message-menu-title{
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: block;
    border-bottom: 2px solid #A6A6A6;
}

.message-content p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 450px;
}

.unviewed-messages{
    display: inline-block;
    background-color: rgba(51, 122, 183, 0.3);
    text-align: center;
    margin-left: 15px;
    padding: 3px;
    border-radius: 5px;
}


/* ########## CHAT RULES ##########*/

.btn-outline-danger{
    border: 1px solid #d9534f;
    color: #d9534f;
}

.btn-outline-danger:hover {
    background-color: #d9534f;
    color: white;
}

.chat-block {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    background-color: #f1f3f5;
    margin-top: 40px;
    border-radius: 5px;
    padding: 15px;
}

.chat-block .chat-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.chat-block .chat-header .companion-block {
    display: flex;
}

.chat-block .chat-header .companion-block > a{
    margin-right: 10px;
}

.chat-block .chat {
    padding: 10px;
    width: 100%;
    height: 75%;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), inset -2px -2px 5px rgba(154, 147, 140, 0.5);
    overflow: auto;
}

.message {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.message-from-companion {
    flex-direction: row-reverse;
}

.chat-message-content {
    width: 85%;
    background-color: white;
    margin-right: 10px;
    padding: 10px;
    min-height: 50px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

.message-from-companion > .chat-message-content {
    background-color: #e7fad5 !important;
}

.chat .message-date span{
    color: #929497;
    font-size: 12px;
}

.send-message-form
{
    margin-top: 20px;
}

.help-block{
    display: none;
}


/* PROFILE */

.inf-block{
    display: block;
    border-radius: 10px;
    background-color: rgba(51, 122, 183, 0.1);
    padding: 10px;
}
.inf-block:last-child{
    margin-bottom: 20px;
}


/* OTHERS */

.text-center{
    text-align: center; !important;
}

.center-block
{
    width:75%;
    margin:0 auto;
    border-radius: 10px;
}

.center-header-text > th{
    text-align: center; !important;
}

.avatar{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.header{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #808080;
}


.header-deleted{
    text-align: center;
    display: block;
    margin-bottom: 20px;
    color: #808080;
    margin-top: 100px;
}

.center-block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}


/* ########## PROJECT RULES ######## */

.projects-search-grid{
    margin-top: 30px; !important;
}

.search-project-form > input{
    text-align: center;
}


/* ########## MEDIA RULES ##########*/

@media(max-width: 400px) {
    .message-content p {
        width: 450px;
    }
}

@media(max-width: 996px) {
    .message-content p {
        width: 100px;
    }
}

@media(max-width: 1204px) {
    .message-content p {
        width: 350px;
    }
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

@media(max-width:386px) {
    .footer-comment-right{
        display: inline-block;
        float: left;
    }

}